.presentation {
    font-family: 'Montserrat', sans-serif;

    .row-presentation {
        height: 71vh;
    }

    p {
        letter-spacing: 0.3rem;
        font-weight: 700;
        font-size: 24px;
    }
}