.presentation {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;

    p {
        letter-spacing: 0.2rem;
        font-weight: 600;
        font-size: 1em;
        text-shadow: 4px 1px 4px rgb(237, 115, 15);
        line-height: 1.5;

        @media screen and (min-width: 1300px) {
            font-size: 1.5em;
        }
    }

    img {
        width: 25vw;
        align-content: center;
        margin-top: 40px;
    }

}