.skills {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 70px;



    img {
        height: 20vh;
        object-fit: cover;

    }



}