.skills {
    height: 71vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 80px;



    img {
        height: 15vh;
        width: 15vw;
        object-fit: contain;

    }

    @media (max-width: 768px) {
        margin-left: 50px;
    }



}