.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(270deg, #e9b47b, #eda540, rgb(223, 148, 94));
    background-size: 600% 600%;
    animation: gradientAnimation 16s ease infinite;


    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .contact-info {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(22, 1, 1, 0.9);
        transition: transform 0.3s;
        cursor: pointer;
        animation: backgroundAnimation 6s infinite alternate;

        @keyframes backgroundAnimation {
            0% {
                background-color: #e8af72;
            }

            50% {
                background-color: #e89726;
            }

            100% {
                background-color: #dc6803;
            }
        }

        @media screen and (min-width: 1300px) {
            font-size: 1.5em;
        }

        &:hover {
            transform: scale(1.1);
        }

        h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        .info {
            text-align: center;

            p {
                margin: 10px 0;
                font-size: 1.1em;
            }
        }
    }
}