.header {
    background-color: rgb(223, 148, 94) !important;

    .navbar-collapse {
        justify-content: center;
        text-align: center;
    }

    .nav-link {
        color: black !important;
        margin-right: 20px;
        font-size: 1.25rem;
        font-weight: 500;
        font-family: 'Montserrat';

        &:hover {
            color: white !important;
        }
    }

    #navbarNav {
        justify-content: center;
    }
}