.home-container {
    background-image: url("https://stephanieet.github.io/Portfolio/assets/images/fond.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Assurez-vous que la hauteur couvre toute la vue */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Assurez-vous que le texte est visible sur l'image de fond */
    text-align: center;

    .animated-text h1,
    .animated-text h2 {
        margin: 0;
        opacity: 0;
        animation: fadeIn 2s ease-in forwards;
        line-height: 70px;
        margin-bottom: 30px;

    }

    .animated-text h2 {
        animation-delay: 1s;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .container-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        img {
            width: 15vw;

            @media screen and (max-width: 768px) {
                min-width: 25vw;
            }

            @media screen and (max-width: 320px) {
                min-width: 40vw;
            }
        }

        h1,
        h2 {
            text-shadow: 7px 3px 6px rgb(184, 37, 37);
        }
    }
}