.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    font-size: 2em;
    font-weight: bold;



    span {
        margin: 0 2px;
        text-decoration: none;
    }
}