.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    font-size: 2em;
    font-weight: bold;
    margin: 0 2px;
    font-family: "Great Vibes";

    &:hover {
        color: black;
    }
}