@use "./sass/header";
@use "./sass/footer";
@use "./sass/apropos";
@use "./sass/home";
@use "./sass/logo";
@use"./sass/competences";
@use"./sass/cards";
@use"./sass/form";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-primary:active {
    background-color: rgb(223, 148, 94);
    ;
}

.form-control:focus {
    border-color: rgb(223, 148, 94);
    box-shadow: 0 0 0 .25rem rgba(223, 148, 94, .25);
}

.container-page {
    margin-bottom: 150px;
}