@use "./sass/header";
@use "./sass/footer";
@use "./sass/apropos";
@use "./sass/home";
@use "./sass/logo";
@use"./sass/competences";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}